applications/peano/peano
applications/peano/tarch
grid-*
geometry-*
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.core.prefs
paper_delta2016/04a_brute-force.log
application/peano/makefile
peano
tarch
dem-3d-release-vec
files.mk
**/**/*.optrpt
**/*.optrpt
**/**/*.o
**/*.o
