geometry-*
grid-*
dem-*
peano
tarch
pdt
it-*
*.log
*.pyc
*.txt
*.optrpt
*.o
*.mk
*.vect
*.DS_Store
*.xml
*._*
paper.aux
paper.synctex.gz
shared-memory*
*.148t.vect
latex/
doxygen-html/

*.vtk
delta-*

realtime/ogre-*
