delta_peano/geometry-*
delta_peano/grid-*
delta_peano/dem-*
delta_peano/peano
delta_peano/tarch
delta_peano/pdt
delta_peano/it-*
*.log
*.pyc
*.txt
*.optrpt
*.o
*.mk
*.vect
*.DS_Store
*.xml
*._*
thesis/Final/paper.aux
thesis/Final/paper.synctex.gz
